.odd {
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#two {
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: #90ee90;
    font-weight: bold;
}

p#three,
div#four {
    font-size: 24px;
}