#odd {
    background-color: #ffc0cb;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.two {
    background-color: #0000ff;
    font-size: 36px;
}

.four {
    background-color: #90ee90;
    font-size: bold;
}

.three .four {
    font-size: 24px;
}