body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

div, h1 {
  margin-bottom: 10px;
}

.card,
.title,
.content {
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 15px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 15px 25px;
}